name: Release

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: cargo build --release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: rollcron-linux-x86_64
          path: target/release/rollcron

